<!DOCTYPE html>
<html lang="en">
<head>
    <title>AdminPage</title>
    <link rel="stylesheet" href="static/style.css"
          th:href="@{style.css}"/>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
    <h1>NEXTGEN TWITTER v2.084</h1>

    <div th:replace="fragments/header :: header"/>


        <form th:action="@{/adminPage}" method="post">
            <textarea rows="4" cols="50" name="tweet"></textarea>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit Text"/>

            <p>LATEST TWEET:</p>
            <div th:text="${theText}"></div>
    </form>
    <br>
    </br>
    <p>________________________________________________________________</p>

<table>
    <tr th:each=" allTweets : ${allTweets}">
        <td colspan="3" height="100"> Tweet: </td>
        <td th:text="${allTweets.tekst}"></td>
        <td colspan="2"> Skrevet af Donald J. Trump </td>
    </tr>
</table>

    <div th:replace="fragments/footer :: footer"/>

</body>
</html>