<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="static/style.css"
          th:href="@{style.css}"/>
    <title>TWITTER ENGINE v2.084 </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h1>Latest admin tweets:</h1>


    <table>
        <tr th:each=" tweet : ${allTweets}">
            <td colspan="3" height="100"> Tweet:</td>
            <td th:text="${tweet.tekst}"></td>
            <td colspan="3" th:text="${tweet.id}"></td>
        </tr>

    </table>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>